/*----------------------------------------------------------------------------------------
PURPLE STYLESHEET 

Project:	      MSC
By :                 Ali Jamali (@MavajSunCo)
Version:	      1.1
Last change:   16-09-2016 
-----------------------------------------------------------------------------------------*/

blockquote:before,
code:before,
.title h2:after,
.download-btn .btn-slide,
.bg-color-main,
.download-btn-alt.invert,
.owl-pagination .owl-page.active span,
.navbar-toggle .icon-bar,
.tags li a:hover,
.post-content .read-more:hover,
.soc-list li .icon:hover,
#preloader .battery:after,
#preloader .battery .load-line { 
    background-color: #a640d0; 
}

a:hover,
.color,
.download-btn-alt,
.download-btn-alt:hover .icon,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.modal-title .icon,
.navbar .nav li a:hover,
.navbar .nav li.active a,
aside.blog-sidebar .search .btn:hover,
.tags.hollow li a:hover,
.facts-list li:hover .icon,
#subscribe_form button:hover  {
    color: #a640d0; 
}

aside.blog-sidebar .category ul a:hover { border-bottom: 1px solid #a640d0; }

.navbar .nav li a:hover,
.navbar .nav li.active a {
    border-bottom: 2px solid #a640d0;
}

@media (max-width: 992px) {
    .navbar .nav li a:hover,
    .navbar .nav li.active a{ border-bottom: 1px solid #a640d0; }
}

#preloader .radius .load-point {
    border-top: 4px solid #a640d0;
}

.round-btn:hover,
button#contact_submit:hover {
    border: 2px solid #a640d0;
}


#preloader .battery,
.round-btn-sm:hover,
.tags.hollow li a:hover,
.post-pagination li.active a,
.post-pagination li a:hover {
    border: 1px solid #a640d0;
}


.bg-color-grad{
    background: #a640d0; /* Old browsers */
    background: -moz-linear-gradient(top,  #a640d0 0%, #00aeff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a640d0), color-stop(100%,#00aeff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a640d0 0%,#00aeff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a640d0 0%,#00aeff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a640d0 0%,#00aeff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a640d0 0%,#00aeff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a640d0', endColorstr='#00aeff',GradientType=0 ); /* IE6-9 */
}

.msc {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(166, 64, 208, .5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(166, 64, 208, .5);
    box-shadow: 0px 0px 5px 2px rgba(166, 64, 208, .5);
}
.intro-block #contact_submit{
    background: #a640d0;
}
/*=================================Shop=================================================*/
.shop-info .p_price {
    color: #a640d0;
}
.shop-content:hover{
    border-color: #a640d0;
}
.shop-wrap .product-btn a.add-to-cart-product {
    background: #a640d0 url(../images/cart.png) no-repeat right;
}
p.stars span a.active,
p.stars span a:hover{
    background: #a640d0; 
}
.tabs-nav li.active span:before{
    border-top: 2px solid #a640d0;
} 
.cart-totals tr.total .amount {
    color: #a640d0;
}
dl.Zebra_Accordion dt.Zebra_Accordion_Expanded {
    background: #a640d0 url(../images/minus.png) no-repeat right center;
}
.ui-slider-horizontal .ui-slider-range{
    border: 1px solid #a640d0;
    background: #a640d0;
}
.woocommerce-MyAccount-navigation li:hover a{
    background: #a640d0!important;
}